<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" class="form-control"  disabled type="text" value="{$row.title|htmlentities}">
        </div>
    </div>
    <input type="hidden" id="questionids" name="row[questionids]" value="{$row.questionids|htmlentities}"/>
    <input type="hidden" id="qid" />
    <input type="hidden" id="single" value="{$row.single|htmlentities}" />
    <input type="hidden" id="multi" value="{$row.multi|htmlentities}" />
    <div class="container form-group">
        <div class="title">选择考题：</div>
        <div class="bar">
            <section class="subject_bar col-xs-12 col-sm-4">
                {foreach name="questions" item="vo"}
                <div class="subject" data-toggle="tab" data-id="{$vo.id}">
                    <span>{$vo.name}</span>
                    <span>></span>
                </div>
                {/foreach}
            </section>
            <div class="tishi">
                <span class="total-count"></span>
                <span class="single-count"></span>
                <span class="multi-count"></span>
                <span class="total-score"></span>
                <span class="pass-score"></span>
            </div>
            <div>
                <table id="qtable" class="table table-striped table-bordered table-hover "
                       width="100%">
                </table>
            </div>

            <!--<div class="subject_nav col-xs-12 col-sm-8">
                <div>
                    <span><input type="search" >
                        <div class="glyphicon glyphicon-search"></div>
                    </span>
                    <span class="sousuo">
                        <span>类型</span> <select id="sel">
                            <option>全部</option>
                            <option selected>单选题</option>
                            <option>多选题</option>
                        </select>
                    </span>
                </div>
                <div class="subject_content">
                    <div id="question-list" class="content">
                    </div>
                </div>-->
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
<style>
    .subject_bar {
        height: 200px;
        width: 150px;
        overflow: auto;
        border: 1px solid #D5D3D3;
        padding: 5px;
    }

    .bar {}

    .subject_bar,
    .subject_nav {
        float: left;
        margin: 10px
    }

    .subject_nav {
        height: 400px;
        overflow: auto;
        border: 1px solid #D5D3D3;
        padding: 20px;
    }

    .subject_content {
        margin-top: 10px;
    }

    .title {
        margin: 10px
    }

    .container {
        margin-left:100px;
    }

    .navigation {
        margin: 20px 0 0 50px
    }

    .sousuo {
        margin-left: 50px;
    }

    .tishi {
    }

    .glyphicon-search {
        margin-left: 5px;
    }

    .name_input {
        margin-left: 10px;
        width: 400px;
    }

    #sel {
        width: 80px;
    }
</style>
